/* This file is for your main application CSS */
@import "./phoenix.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.center {
  margin: auto;
  width: 50%;
  min-width: 500px;
  padding: 10px;
}

.center h1 {
  text-align: center;
}

.mega_game_grid {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 2px 2px 5px 5px grey;
}

.game_grid {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: auto;
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1px;
  border: 6px solid white;
}

.game_grid div {
  width: 100%;
  height: 100%;
  
  margin: auto;
}

.game_grid button {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0px;
  font-size: medium;
  background-color: rgb(223, 223, 223);
  border: 2px solid #aaa;
  color: black;
}

.game_grid.game_grid_active button {
  border: 2px solid rgb(56, 126, 56);
  background-color: rgb(164, 221, 164);
}

.control_bar {
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.won_grid {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: xx-large;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.instructions {
  text-align: center;
}

.control_bar button {
  background-color: rgb(223, 223, 223);
  color: black;
  border: 1px solid grey;
  width:150px;
}